
h1,
h2,
h3,
h4 {
  font-weight: bold;
  text-align: center;
  color: #33333;
  font-family: 'Helvetica';
}
p {
text-align: left;
font size: 100px;
color: #33333;

}

.HI {
font-family: 'Comic Sans MS';
color: black;
font-family: 'Comic Sans MS';
}
.baby {
font-family: 'Comic Sans MS';
color: red;
}

.Anime {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
